django-debug-toolbar==2.2
django==2.2.16
pytest-django==3.8.0
pytest-pythonpath==0.7.3
pytest==5.3.5             # via pytest-django
requests==2.22.0
six==1.14.0               # via packaging
sorl-thumbnail==12.6.3
mixer==7.1.2
Faker==12.0.1
